table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

td {
    height: 15vh;
    width: 155px;
    border: 3px solid black;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.counter {
    font-weight: bold;
}
